* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #e3e6ff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 105px 20px 20px 20px;
}
#mainPage, #adminPage {
    max-width: 900px;
}
.app-window {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: #fff;
}
.window-header {
    position: absolute;
    top: -27px;
    left: 17px;
    color: #c17f21;
}
header {
    width: calc(100% - 40px);
    z-index: 3;
    max-width: 1480px;
    min-height: 70px;
    height: fit-content;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    top: 20px;
    padding: 15px;
    background-color: #ffffffab;
    backdrop-filter: blur(15px);
    transition-duration: 1s;
}
.horizontal-container {
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 10px
}
.vertical-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}
p {
    font-size: 15px;
}
.vertical-divisor {
    height: 40px;
    width: 1px;
    background-color: #e3e6ff;
}
input, button, .task, textarea {
    height: 40px;
    border: none;
    background-color: #e4e4e4;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    transition-duration: 0.3s;
    color: black;
}
button {
    cursor: pointer;
}
textarea {
    padding: 10px;
    height: auto;
}
.task {
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: #f4f4f4;
    height: fit-content;
    transition-duration: 0.3s;
}
.completed {
    background-color: #DDFFDD;
}
.incomplete {
    background-color: #ffffff;
}
.taskWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
input:focus {
    outline: none;
    border: none;
    scale: 1.05;
}
button:hover, .post:hover {
    background-color: #b6b6b6;
}
.footer {
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.mistake {
    background-color: #ff4545;
    color: #ffffff;
}
.mistake::placeholder {
    color: #ffffff;
    opacity: 1;
}
.accepted {
    background-color: #00e600;
    color: #ffffff;
}
.accepted::placeholder {
    color: #ffffff;
    opacity: 1;
}
.inactive {
    display: none;
}
.iconButton {
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    background-color: #00000000;
}
.iconButton:hover {
    background-color: #00000000;
    scale: 1.2;
    filter: drop-shadow(0px 0px 15px rgba(179, 179, 179, 0.62));
}
.greenMark {
    background-image: url("../SVG/ok.svg");
}
.grayMark {
    background-image: url("../SVG/grayMark.svg");
}
.noButton {
    background-image: url("../SVG/no.svg");
}
.binButton {
    background-image: url("../SVG/bin.svg");
}
.viewButton {
    background-image: url("../SVG/view.svg");
}

.banButton {
    mask-image: url("../SVG/ban.svg");
    background-color: #ff6a76 !important;
}
.adminButton {
    mask-image: url("../SVG/admin.svg");
    background-color: #ffb63f !important;
}
.userButton {
    mask-image: url("../SVG/user.svg");
    background-color: #7f9fff !important;
}
.statusButtonInactive {
    background-color: #b3b3b3 !important;
}

.giganote {
    background-image: url("../SVG/giganote.svg");
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #e689f4;
    box-shadow: 0 0 0 0 rgba(193, 142, 255, 0.27);
    animation: l1 1s infinite;
    transition-duration: 0.2s;
}
@keyframes l1 {
    100% {box-shadow: 0 0 0 30px #0000}
}

.loaderHidden {
    scale: 0;
    opacity: 0;
}

@media screen and (max-width: 600px) {

}